spring:
  cloud:
    loadbalancer:
      ribbon:
        enabled: false # Netflix Ribbon 대신 Spring Cloud LoadBalancer 사용

  # 시큐리티 - oauth2설정
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://keycloak.code-factory.co.kr/realms/codefactory
      client:
        registration:
          keycloak:
            client-id: ${KEYCLOAK_CLIENT_ID}
            client-secret: ${KEYCLOAK_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "http://localhost:3000/v1/user/authorization/code"
            scope:
              - openid
              - profile
              - email
        provider:
          keycloak:
            issuer-uri: https://keycloak.code-factory.co.kr/realms/codefactory

feign:
  client:
    default: # 공통 설정
      connectTimeout: 5000
      readTimeout: 5000
      loggerLevel: full

management:
  endpoints:
    web:
      exposure:
        include: refresh

keycloak:
  server-url: https://keycloak.code-factory.co.kr
  realm: codefactory
  client-id: ${KEYCLOAK_CLIENT_ID}
  client-secret: ${KEYCLOAK_CLIENT_SECRET}
  admin-username: ${KEYCLOAK_ADMIN_USERNAME}
  admin-password: ${KEYCLOAK_ADMIN_PASSWORD}

logging:
  level:
    feign: DEBUG