spring:
  cloud:
    loadbalancer:
      ribbon:
        enabled: false # Netflix Ribbon 대신 Spring Cloud LoadBalancer 사용

feign:
  client:
    default: # 공통 설정
      connectTimeout: 5000
      readTimeout: 5000
      loggerLevel: full

management:
  endpoints:
    web:
      exposure:
        include: refresh